
/* REAL ESTATE */
.service-title {
    margin-top: -50px;
    font-size: 33px;
  }
  
  .service-item {
    position: relative;
    margin-bottom: 30px;
    padding: 40px 20px 37px 20px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 83px 0px rgba(40, 40, 40, 0.04);
            box-shadow: 0px 5px 83px 0px rgba(40, 40, 40, 0.04);
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
  
  .service-item .service-item__title {
    position: relative;
    font-size:28px;
    margin-bottom: 25px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .service-item .service-item__desc {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    color: gray;
  }
  
  .service-item .service-item__content {
    padding: 0 21px 8px;
  }
  
  
  .service-item:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  
  .service-item:hover .service-item__overlay {
    opacity: 1;
  }

  
/* media query */ 
@media(max-width: 768px) {
  .service-item .service-item__title {
    font-size: 21px;
    padding-top: 25px;
  }

}


/* FARM ESTATE */
.farm-estate {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.farm-img img {
  height: 300px;
  border: 1px solid grey;
}

.farm-estate-item {
  margin-bottom: 40px;
  color: gray;
}

.farm-estate-title {
  border-left: 4px solid #1888ff;
  padding-left: 20px;
}

.farm-estate-title h2 {
  font-size: 24px;
  color: black;
}

.farm-content-wrap i {
  color: gray;
  font-size: 15px;
}

.farm-content-wrap ul {
  padding-left: 20px;
  margin-top: 20px;
}

/* INVESTMENT */
.invest-content h3 {
    font-size: 26px;
    font-weight: bold;
}

.invest-content img {
  height: 270px;
  width: 400px;
  border-radius: 5px;
}

.invest-content p {
  font-size: 16px;
  color: grey;
}

.invest-content-wrap {
  padding-top: 10px;
}

@media(max-width:768px) {
  .invest-content-wrap {
    text-align: center;
    margin-bottom: 25px;
  }
}


.invest-process-container {
     margin: 70px 0 0 0;
}

.invest-process-container h3 {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 7px;
}

.invest-process  .desc-wrap {
  background: #cce6e6;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
  color: gray;
  font-size: 16px;
}

.invest-process{
  counter-reset: step;
}

.invest-process .desc-wrap:before{
  content:counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 26px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}

.our-why {
   margin: 60px 0 50px 0;
}

.our-why-title h3 {
     font-size: 28px;
     font-weight: bold;
     padding-bottom: 20px;
}

.our-why-content {
  text-align: center;
}

.our-why-content img {
  height: 100px;
}

.our-why-content h4 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

.our-why-content p {
    color: gray;
}

.get-luxury {
  background: #1888ff;
  padding: 20px;
  border-radius: 10px;
  min-width: 80%;
  margin: 30px 0 30px 0;
}

.get-luxury .img-wrap img {
  height: 80px;
}

.get-luxury h3 {
  color: #fff;
  font-weight: bold;
  font-size: 27px;
  padding: 10px 0 20px 0;
  text-align: center;
}

.get-luxury .phone img {
  height: 200px;
}
 

@media(max-width: 768px) {
  .img-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}