.contact-wrap {
    margin: 50px 0 65px 0;
}

.contact-wrap span {
    display: block;
    font-size: 16px;
}

.contact-wrap h2 {
    padding-bottom: 16px;
    font-weight: 400;
    color: #1877f2;
}

.contact-wrap h4 {
    font-size: 18px;
}

.contact-link a {
    color: #000;;
}

.contact-link a:hover{
   color: #1877f2;
}

@media(max-width: 768px){
    .contact-link {
        /* margin-bottom: 15px; */
    }
}