
.property-img-wrap {
    height: 240px;
    overflow: hidden;
}

.property-img-wrap img {
    transition: transform 0.2s ease;
  height: 240px;
  width: 100%;
}

.property-card:hover img {
    transform: scale(1.1);
  }

  .property-card h5 {
      font-weight: 500;
      font-size: 16px;
      color: #e91e63;
  }

  .property-card h3 {
      font-weight: 500;
      font-size: 18px;
      text-transform: capitalize;
  }

  .property-card p {
    font-size: 14px;
    font-weight: 500;
  }


  @media(max-width: 900px) {
    .propertyItem-wrap {
        display: flex;
        flex-direction: column;
    }
  }