/*------------------------
    Picture background hero
--------------------------*/

#hero {
  height: 90vh;
  width: 100%;
  background: url('/images/home/hero-1.jpg');
  background-size: cover;
  background-position: center center;
}

.outer {
  height: 90vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#hero .detail {
  z-index: 6;
}

#hero h1{
  font-family: "playfair Display", serif;
  font-size: 58px;
  font-weight: 700;
  text-transform: uppercase;
}

#hero p{
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

@media(max-width: 768px) {
   #hero h1 {
    font-size: 3em;
  }
}

@media (max-width: 500px) {
  #hero h1 {
    font-size: 2.1em;
  }
}