* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
}

.App {
  overflow-y: hidden;
}

body {
  font-family: "Heebo", sans-serif;
  background: #fff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

textarea {
  resize: none !important;
}

/* Sections Banner
--------------------------------*/
.banner {
  background: #1b1b1b;
  width: 100%;
  margin-bottom: 10px;
  color: #fff;
  padding: 27px 0;
}

.banner h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
}

/* Sections Header
--------------------------------*/
.section-header {
  margin-bottom: 55px;
  position: relative;
  padding-bottom: 20px;
  margin-top: 20px;
}

.section-header::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #1888ff;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

.section-with-bg {
  background-color: #f6f7fd;
}

@media (max-width: 768px) {
  .section-header h2 {
    font-size: 25px;
  }
}

/* PAGE NOT FOUND STYLE */
.page-wrap {
  height: calc(100vh - 60px);
  width: 100%;
  background: #1888ff;
}

.page-wrap .wrapper {
  height: calc(100vh - 60px);
}

.page-wrap .content-wrap {
  background: #fff;
  width: 50%;
}

.page-wrap h1 {
  font-size: 7rem;
}

.page-wrap h4 {
  font-size: 1.6rem;
  font-weight: 700;
}

.page-wrap p {
  font-weight: 600;
  font-size: 17px;
}

@media (max-width: 768px) {
  .page-wrap .content-wrap {
    width: 100%;
  }
}

/* BACK TO TOP*/
.scroll-to-top {
  position: fixed;
  bottom: 13px;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #1888ff;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top .icon {
  animation: scrollTop 0.5s alternate ease infinite;
  padding-left: 8px;
  font-size: 20px;
}

@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}
